language: java
group: deprecated-2017Q4
sudo: required
jdk:
- oraclejdk8
branches:
  only:
  - develop
services:
  - postgresql
before_script:
  - psql -c "create user javaman1 with password '12345';" -U postgres
  - psql -c "create database javaman1;" -U postgres
  - psql -c "grant all on database javaman1 to javaman1;" -U postgres
  - psql -c "create database javaman1_test;" -U postgres
  - psql -c "grant all on database javaman1_test to javaman1;" -U postgres


deploy:
  provider: heroku
  app:
    develop: jees-quoridor-backend
  api_key:
    secure: YsvNiXBy04TB4RoekKJHd+AdgxjY2EtRgAYVBOdtc8MW9oMBMy+s7lENfkS9qqi+AvwGbK3MLw70h58NTs/LWZqsPMH3lKZ9UIVEZy9+ZEa5VrURgLApdmTBMzO+WSly+vP0jmDwiQepRU4kSiJq2KGuNIm3HBybDz3DwRJIThyB6+82Hk0ptZM/HoorP2xi1MG03TpoPDJikwNAifnk0KXgm/vxHnf20fmqxTL5fxqsF4mqywqj2q3c+QzaCLQpSdnTncU77NdVI6NzWgI3s15Mch/kKazIp8Ren/Ol1bwMw5/X46BOhVVYGWIg8k6x23itxhQW7Ce91+gQXVDjcN4BUcWkKKGUUGg9o1W1KfsV9DvdmhdVN3XHGkdSM4yLL1Ql5rfH0b4dTVyyMzAyLUNaOF4jXOUk2dfE+VD2bBR+RNoTcpbuo2NjyOOTHf7s8nO1tHWMj0Uhi5RY1GZrgYS/Vumb1qfylBrgBMcoc/iq2o/ENG+IhbG8MZAuX1yJ3KMFoO5VGCc6dqSAejueSeT6oklV5v1cIXCv+Ir3pUM4XhR8ILqoLn79GqSlc9bVN1bJFNEQdSsRqZJxuHP3GISyom7VeW3IpHUFxoDKoVz72ARl15cH1uHka4caXm26fn+XwYSM03Ln+IFtzqJ2vgWE3ZM5ROAb946AnVaju0Y=
